/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */



.heroBanner {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroBanner h1 {
    background: linear-gradient(to left, #2575fc, #6a11cb);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    font-size: 4rem;
}



.heroBanner a {
  color: #fff;
  text-decoration: none;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 1rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ctaButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .75rem;
  flex-wrap: wrap;
}


@media screen and (max-width: 996px) {
  .heroArt {
    display: none;
  }
}
